.group input,
.group button {
    display: inline-block;
    border-width: 0;
    font-size: 13px;
    padding: 5px 10px;
}

.menuboton{
    padding: 15px;
}

.bigmargen{
    padding-left: 75%;
}

.loginbutton{
    text-align: right;
    margin-right: 15px;
    justify-self: center;
    align-items: center;
}

.primary-button{
    background-color: $ballblue;
    color: white;
}

.regularsize{
    width: 100px;
}
.largesize{
    width: 180px;
}
