.logo{
    width: 125px;
}

.hero-section{
    background-image: url('../images/bg-hero.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 850px;
}

.logoleft{
    width: 125px;
    padding: 100px;
    text-align: center;
}

.grafico{
    background-image: url('../images/resultado-grafico.gif');
    background-position: cover;
    margin-left: 100px;
    margin-right: 25px;
    margin-top: 75px;
    width: 525px;
    height: 165px;
}

.price-section{
    background-image: url('../images/bg-price.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1200px;
}

