.body {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 414px){

    .trekin{
        padding-bottom: 320px;
        padding-left: 30px;
        padding-top: 10px;
    }

    .hero-section{
        background-image: url('../images/bg-hero.svg');
        //background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
    }
    
    .grafico{
        background-image: url('../images/resultado-grafico.gif');
        background-position: cover;
        background-size: cover;
        margin-left: 15px;
        margin-right: 15px;
        //margin-top: 75px;
        width: 100%;
        //height: 165px;
    }

    
}